.table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    text-transform: capitalize;
}

.table thead,
.table tbody,
.table td {
    border: 1px solid #ddd;
    padding: 4px 8px;
    text-align: center;
}

.table th {
    border: 1px solid #ddd;
    padding: 18px;
}

.table tbody {
    background-color: #f2f2f2;
}

.carbon-intensity-values {
    text-transform: none;
}